selenium==4.43.0
pytest==8.4.1
webdriver-manager==4.0.2
requests==2.32.5
python-dotenv==1.1.1
pytest-html==4.2.0
allure-pytest==2.15.3
pytest-xdist==3.8.0
pytest-rerunfailures==16.3
Faker==40.19.1
openpyxl==3.1.5
jsonschema==4.26.0